@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, :root {
  touch-action: none;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.grid-font {
  font-family: 'Courier New', Courier, monospace;
}