/* TODO: clean this shit up */

:root {
  touch-action: none;
  height: 100%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  background-color: #222;
  overflow: hidden;
}

#header {
  text-align: center;
  color: #aaa;
  padding: 1rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: all 0.2s ease;
}

body.keyboard-open #header {
  opacity: 0;
}

#cursor {
  position: absolute;
  height: 3vmin;
  width: 3vmin;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.2s ease;
}

#cursor.incorrect {
  background-color: rgba(255, 0, 0, 0.25)
}

#game-container {
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  will-change: 'transform';
}

body.keyboard-open #game-container {
  transform: translate(-50%, -50svh);
}

#game {
  position: relative;
  aspect-ratio: 1;
  border: 1px solid #aaa;
  margin: 1rem;
  font-size: 7vmin;
}

#game-grid {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  width: 100%;
  height: 100%;
  filter: blur(0px);
  transition: all 0.2s ease;
}

#game-intro,
#game-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  inset: 0;
  color: #777;
  transition: all 0.2s ease;
}

#game-results {
  font-size: 12vmin;
  font-weight: 900;
  opacity: 0.2;
  filter: blur(1vmin);
}

body.complete #game-results {
  opacity: 1;
  filter: blur(0);
}

/* .word {
  display: flex;
  flex-wrap: wrap;
} */

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #777;
}

#game-input {
  position: absolute;
  min-width: 0;
  inset: 0;
  opacity: 0;
  z-index: 100;
}

/* todo convert all these fucking ids to classes so i dont have to do this */
.hidden,
#cursor.hidden,
#game-results.hidden {
  opacity: 0;
}

.incorrect {
  color: #f00;
  opacity: 1;
}

.highlighted {
  color: #ddd;
  opacity: 1;
}

/* .extra {
  color: #b00;
} */

/* would be cool if the grid was random or animated or something while blurred */
#game-grid.blurred {
  filter: blur(2vmin);
}