@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$dark-serif-theme: (
  "primary-25": rgba(255, 255, 255, 0.25),
  "primary-50": rgba(255, 255, 255, 0.5),
  "primary-75": rgba(255, 255, 255, 0.75),
  "primary-100": rgba(255, 255, 255, 1),
  "fast-transition": cubic-bezier(0, 1, 1, 1),
  "regular-transition": ease,
  "background": #222,
  "min-font-size": 1.25rem,
  "border": 1px solid rgba(255, 255, 255, 0.75),
  "border-hover": 1px solid rgba(255, 255, 255, 1),
  "border-radius": 0,
  "box-shadow": none,
  "button-padding": 0.9375rem,
  "game-button-padding": 3vmin 5vmin,
  "font-family": "Raleway",
  "utility-bar-height": 10vmin,
);

// $fun-theme: (
//   "primary-25": rgba(255, 55, 255, 0.25),
//   "primary-50": rgba(255, 55, 255, 0.50),
//   "primary-75": rgba(255, 55, 255, 0.75),
//   "primary-100": rgba(255, 55, 255, 1),
//   "fast-transition": cubic-bezier(0, 1, 1, 1),
//   "regular-transition": ease,
//   "background": #fee,
//   "min-font-size": 1.5rem,
//   "border": 3px solid rgba(255, 55, 255, 0.75),
//   "border-hover": 3px solid rgba(255, 55, 255, 1),
//   "border-radius": 1vmin,
//   "box-shadow": 3px 3px rgba(255, 55, 255, 0.75),
//   "button-padding": 1rem 1.75rem,
//   "game-button-padding": 3vmin 5vmin
// );

// * {
//   font-family: "Comic Neue";
//   letter-spacing: 2px;
// }

$theme: $dark-serif-theme;

html,
:root {
  touch-action: none;
  height: 100%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: map.get($theme, "font-family"), "Courier New", Courier, monospace;
  font-size: map.get($theme, "min-font-size");
  background-color: map.get($theme, "background");
  overflow: hidden;
}

.header {
  text-align: center;
  color: map.get($theme, "primary-50");
  padding: 1rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: all 0.2s map.get($theme, "fast-transition");
}

.cursor {
  position: absolute;
  height: 8vmin;
  width: 8vmin;
  opacity: 0;
  background-color: map.get($theme, "primary-25");
  transition: all 0.2s map.get($theme, "regular-transition");
  transform: translate(-50%, -50%);

  border-radius: map.get($theme, "border-radius");

  &.incorrect {
    background-color: rgba(255, 0, 0, 0.25);
  }
}

.container {
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s map.get($theme, "fast-transition");
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  filter: blur(3vmin);
  transition: all 0.2s
    map.get(
      $theme,
      "fast-transition, opacity 0.4s $dark-serif-theme-regular-transition"
    );
  font-family: "Courier New", Courier, monospace;
}

.description,
.results {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  inset: 0;
  color: map.get($theme, "primary-75");
  transition: all 0.4s map.get($theme, "fast-transition");
  transform: translateX(0%);
  font-size: max(map.get($theme, "min-font-size"), 4vmin);
  padding: 1rem;
}

.game {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  margin: 1rem;
  transition: font-size 0.4s map.get($theme, "fast-transition");
  font-size: 12vmin;

  border: map.get($theme, "border");
  border-radius: map.get($theme, "border-radius");
  box-shadow: map.get($theme, "box-shadow");

  &.shake {
    animation: 0.4s ease 0s 1 incorrect;
  }

  &.counting-down {
    &-3 .description {
      font-size: 12vmin;
      font-weight: 700;
    }

    &-2 .description {
      font-size: 16vmin;
      font-weight: 700;
    }

    &-1 .description {
      font-size: 20vmin;
      font-weight: 700;
    }
  }
}

.instructions {
  max-width: 40rem;
  padding: 1rem;
  color: map.get($theme, "primary-75");
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s map.get($theme, "regular-transition");
}

.rating {
  color: map.get($theme, "primary-50");
  font-size: 4vmin;
}

.results {
  font-weight: 700;
  opacity: 0;
  filter: blur(1vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vmin;
  transition: all 0.2s map.get($theme, "fast-transition");
  padding-top: 4vmin;
  padding-bottom: calc(map.get($theme, "utility-bar-height") + 4vmin);
}

.utility-bar {
  // :(
  z-index: 100000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vmin;

  transition: transform 0.75s cubic-bezier(0.41, -0.12, 0.77, -0.07);

  &.hidden {
    transform: translateX(100vw);
  }

  &.no-transition {
    transition: none;
  }
}

.info {
  display: grid;
  place-content: center;
  flex-grow: 1;
}

.speed {
  font-size: 20vmin;
}

.mistakes {
  font-size: 8vmin;
}

.token {
  display: contents;
}

.char {
  display: grid;
  place-content: center;
  color: map.get($theme, "primary-50");

  &.incorrect {
    color: #f00;
  }

  &.highlighted {
    color: map.get($theme, "primary-100");
  }
}

.input {
  position: absolute;
  min-width: 0;
  inset: 0;
  opacity: 0;
  z-index: 100;
}

.button {
  font-family: map.get($theme, "font-family"), "Courier New", Courier, monospace;
  background-color: transparent;
  border: map.get($theme, "border");
  font-size: map.get($theme, "min-font-size");
  padding: map.get($theme, "button-padding");
  color: map.get($theme, "primary-75");
  transition: all 0.2s map.get($theme, "fast-transition");
  border-radius: map.get($theme, "border-radius");
  box-shadow: map.get($theme, "box-shadow");
  cursor: pointer;

  &:hover {
    border: map.get($theme, "border-hover");
    color: map.get($theme, "primary-100");
  }

  &:active {
    border: map.get($theme, "border");
    color: map.get($theme, "primary-75");
  }
}

.game-button {
  font-size: 4vmin;
  padding: map.get($theme, "game-button-padding");
  background-color: map.get($theme, "background");
  z-index: 10000;
}

.instructions-button {
  background-color: map.get($theme, "background");
  // damn we are rly doing this already
  z-index: 1000;
  // transition: transform 0.75s cubic-bezier(.41, -0.12, .77, -0.07);
  // &.hidden {
  //   transform: translateX(100vw);
  // }
}

.hide-instructions-button {
  margin-top: map.get($theme, "min-font-size");
}

/* would be cool if the grid was random or animated or something while blurred */

@media (max-width: 600px) {
  body.keyboard-open {
    .header {
      opacity: 0;
    }

    .container {
      transform: translate(-50%, -50svh);
    }
  }
}

body.game-loading {
  .grid {
    opacity: 0;
  }

  .utility-bar > .button:not(.instructions-button) {
    display: none;
  }
}

body.game-ready {
  .utility-bar > .button:not(.instructions-button) {
    display: none;
  }
}

body.game-playing {
  .description {
    opacity: 0;
  }

  .cursor {
    opacity: 1;
  }

  .grid {
    filter: blur(0vmin);
  }

  .results {
    opacity: 0.1;
  }

  .utility-bar > .button {
    display: none;
    opacity: 0;
  }

  .rating {
    opacity: 0;
  }
}

body.game-results {
  .description {
    opacity: 0;
  }

  .results {
    opacity: 1;
    filter: blur(0vmin);
  }

  .rating {
    opacity: 1;
  }

  .share-button {
    opacity: 1;
  }

  .input {
    z-index: -100;
  }

  .instructions-button {
    display: none;
    opacity: 0;
  }

  .utility-bar > .button:not(.instructions-button) {
    display: block;
    opacity: 1;
  }
}

body.showing-instructions {
  .container {
    filter: blur(4vmin);
  }

  .instructions {
    opacity: 1;
    transform: translateX(0%);
  }

  .cursor {
    opacity: 0;
  }
}

@keyframes incorrect {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translateX(-1%);
  }

  40% {
    transform: translateX(1%);
  }

  60% {
    transform: translateX(-1%);
  }

  80% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0%);
  }
}
