$white-25: rgba(255, 255, 255, 0.25);
$white-50: rgba(255, 255, 255, 0.50);
$white-75: rgba(255, 255, 255, 0.75);
$white-100: rgba(255, 255, 255, 1);
$fast-transition: cubic-bezier(0, 1, 1, 1);
$regular-transition: ease;
$dark: #222;

html,
:root {
  touch-action: none;
  height: 100%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  background-color: $dark;
  overflow: hidden;
}

.header {
  text-align: center;
  color: $white-50;
  padding: 1rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: all 0.2s $fast-transition;
}

.cursor {
  position: absolute;
  height: 8vmin;
  width: 8vmin;
  opacity: 0;
  background-color: $white-25;
  transition: all 0.2s $regular-transition;
  transform: translate(-50%, -50%);

  &.incorrect {
    background-color: rgba(255, 0, 0, 0.25);
  }
}

.container {
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s $fast-transition;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  filter: blur(3vmin);
  transition: all 0.2s $fast-transition, opacity 0.4s $regular-transition;
}

.description,
.results {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  inset: 0;
  color: $white-75;
  transition: all 0.4s $fast-transition;
  transform: translateX(0%);
  font-size: max(1.25rem, 4vmin);
  padding: 1rem;
}

.game {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  border: 1px solid $white-75;
  margin: 1rem;
  transition: font-size 0.4s $fast-transition;
  font-size: 12vmin;

  &.shake {
    animation: 0.4s ease 0s 1 incorrect;
  }

  &.counting-down {
    &-3 .description {
      font-size: 12vmin;
      font-weight: 900;
    }

    &-2 .description {
      font-size: 16vmin;
      font-weight: 900;
    }

    &-1 .description {
      font-size: 20vmin;
      font-weight: 900;
    }
  }
}

.instructions {
  padding: 1rem;
  color: $white-75;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s $regular-transition;
}

.results {
  font-size: 12vmin;
  font-weight: 900;
  opacity: 0;
  filter: blur(1vmin);
  transition: all 0.2s $fast-transition;
}

.token {
  display: contents;
}

.char {
  display: grid;
  place-content: center;
  color: $white-50;

  &.incorrect {
    color: #f00;
  }

  &.highlighted {
    color: $white-100;
  }
}

.input {
  position: absolute;
  min-width: 0;
  inset: 0;
  opacity: 0;
  z-index: 100;
}

.button {
  background-color: transparent;
  border: 1px solid $white-75;
  color: $white-75;
  font-size: 4vmin;
  padding: 3vmin;
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.2s $fast-transition;
  cursor: pointer;

  &:hover {
    border: 1px solid $white-100;
    color: $white-100;
  }

  &:active {
    border: 1px solid $white-75;
    color: $white-75;
  }
}

// these classes should be consistently named
.share {
  opacity: 0;
  margin: 3vmin;
  bottom: 2vmin;
  position: absolute;
}

.instructions-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $dark;
  // damn we are rly doing this already
  z-index: 1000;
  transition: transform 0.75s cubic-bezier(.41, -0.12, .77, -0.07);

  &.hidden {
    transform: translateX(100vw);
  }
}

.hide-instructions {
  margin-top: 2rem;
}

/* would be cool if the grid was random or animated or something while blurred */

@media (max-width: 600px) {
  body.keyboard-open {
    .header {
      opacity: 0;
    }

    .container {
      transform: translate(-50%, -50svh);
    }
  }
}

body.game-loading {
  .grid {
    opacity: 0;
  }
}

body.game-playing {
  .description {
    opacity: 0;
  }

  .cursor {
    opacity: 1;
  }

  .grid {
    filter: blur(0vmin);
  }

  .results {
    opacity: 0.1;
  }
}

body.game-results {
  .description {
    opacity: 0;
  }

  .results {
    opacity: 1;
    filter: blur(0vmin);
  }

  .share {
    opacity: 1;
  }

  .input {
    z-index: -100;
  }
}

body.showing-instructions {
  .container {
    filter: blur(4vmin);
  }

  .instructions {
    opacity: 1;
    transform: translateX(0%);
  }

  .cursor {
    opacity: 0;
  }
}

@keyframes incorrect {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translateX(-1%);
  }

  40% {
    transform: translateX(1%);
  }

  60% {
    transform: translateX(-1%);
  }

  80% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0%);
  }
}